<div class="flex-container">
  <div class="content">
    <button 
      [disabled]="(gameCount === allGamesLength || apiService.lockedMatchId) ? true : false"
      (click)="decrementTotal()"
      ngClass="arrow-btn {{(gameCount === allGamesLength || apiService.lockedMatchId) ? 'inactive' : 'active' }}">
      <div class="btn-content">
        <div [@transfer]="leftButton" class="left-arrow">
        </div>
      </div>
    </button>
    <div class="spectator-info" *ngIf="apiStatus">
      <a class="league" *ngIf="leagueUrl" href="{{leagueUrl}}" target="_blank">
        <span >{{leagueName}}</span>
      </a>
      <span *ngIf="!leagueUrl" class="league">{{leagueName}}</span>
      <a *ngIf="apiService.loadDone"
       ngClass="lock-pad {{apiService.lockedMatchId === 0 ? 'locked' : 'unlocked'}}"
       (click)="lockMatch()">{{apiService.lockedMatchId === 0 ? 'Lock' : 'Unlock'}} Game
      </a>
      <div class="spectators">
        <div class="eye-icon">
          <span class="eye"></span>
        </div>
        <div class="spectators-amount" >
          {{spectators}}
        </div>
      </div>
    </div>
    <div class="api-status" *ngIf="!apiStatus">
      The Steam API is down or no games are up.
    </div>
    <button
      [disabled]="(gameCount === 1 || apiService.lockedMatchId) ? true : false"
      (click)="incrementTotal()"
      ngClass="arrow-btn {{(gameCount === 1 || apiService.lockedMatchId) ? 'inactive' : 'active' }}">
      <div class="btn-content">
        <div [@transfer]="rightButton" class="right-arrow">
        </div>
      </div>
    </button>
  </div>
</div>