$arrow-border: #808080;
$button-border: #2f2724;
$black: #000;
$content-background: #111;

$eye-color: #333;
$eye-white-space: #ddd;

$box-shadow-color-hover: rgba(34, 98, 126, 0.5);
$font-color: #d9d9d9;
$link-color: #646400;
$visted-link: #b9b9b9;

.league {
  color: $font-color;
  font-weight: bold;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:active {
    color: $link-color;
  }

  &:visited {
    $font-color: $visted-link;
  }
}

button {
  &:focus {
    outline: none;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 1100px;
}

.left-arrow {
  border-bottom: 10px solid transparent;
  border-right: 10px solid $arrow-border;
  border-top: 10px solid transparent;
  height: 0;
  width: 0;
}

.right-arrow {
  border-bottom: 10px solid transparent;
  border-left: 10px solid $arrow-border;
  border-top: 10px solid transparent;
  height: 0;
  width: 0;
}

.arrow-btn {
  align-items: center;
  background: $content-background;
  border: 1px solid $button-border;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 282px;
}

.btn-content {
  display: flex;
  justify-content: center;
}

.spectator-info {
  align-items: center;
  background: $content-background;
  border: 1px solid $button-border;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10px;
  width: 536px;
}

.api-status {
  align-items: center;
  background: $content-background;
  border: 1px solid $button-border;
  display: flex;
  justify-content: center;
  margin: 0 10px;
  width: 536px;
}

.spectators {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spectators-amount {
  text-align: center;
  vertical-align: middle;
}

.eye-icon {
  height: 30px;
  margin-top: 6px;
  width: 30px;
}

// found @ http://jameskoster.co.uk/snippets/css-only-eye-icon/
.eye {
  background: $eye-color;
  border-radius: 65% 0;
  display: inline-block;
  height: 1em;
  position: relative;
  transform: rotate(45deg);
  width: 1em;


  &::before,
  &::after {
    border-radius: 100%;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
  }

  &::before {
    background: $eye-white-space;
    height: .5em;
    margin-left: -.25em;
    margin-top: -.25em;
    width: .5em;
  }

  &::after {
    background: $eye-color;
    height: .25em;
    margin-left: -.125em;
    margin-top: -.125em;
    width: .25em;
  }
}

.inactive {
  opacity: .5;
}

.active {
  &:hover {
    background: $box-shadow-color-hover;
  }
}
