<nav (click)="toggle()" class="main-nav">
   <!--- by <a href="https://github.com/AdamJo">this guy</a>-->
  <ul>
    <div class="hamburger">
      <li [@menu]="menuOption" class="lines"></li>
    </div>
    <div *ngIf="menuOption === 'open'">
      <li>
        Made by <a href="https://github.com/AdamJo" target="_blank">this guy</a>
      </li>
    </div>
    <div *ngIf="menuOption === 'closed'">
      <li *ngIf="apiStatus">
        Minimap Spectator for Dota 2
      </li>
      <li *ngIf="!apiStatus">
        The Steam API is down or no games are up.
      </li>
    </div>
  </ul>
</nav>