$content-background: #111;
$eye-color: #444;
$eye-white-space: #ddd;
$button-border: #2f2724;

.spectators {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-bottom: 10px;
}

.spectators-amount {
  text-align: center;
  vertical-align: middle;
}

.eye-icon {
  height: 30px;
  // margin-top: 6px;
  width: 30px;
}

.spectator-info {
  align-items: center;
  background: $content-background;
  border: 1px solid $button-border;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // margin: 0 10px;
  width: 536px;
}

// found @ http://jameskoster.co.uk/snippets/css-only-eye-icon/
.eye {
  background: $eye-color;
  border-radius: 65% 0;
  display: inline-block;
  height: 1em;
  position: relative;
  transform: rotate(45deg);
  width: 1em;


  &::before,
  &::after {
    border-radius: 100%;
    content: '';
    display: block;
    left: 50%;
    position: absolute;
    top: 50%;
  }

  &::before {
    background: $eye-white-space;
    height: .5em;
    margin-left: -.25em;
    margin-top: -.25em;
    width: .5em;
  }

  &::after {
    background: $eye-color;
    height: .25em;
    margin-left: -.125em;
    margin-top: -.125em;
    width: .25em;
  }
}
