$container-background: #222;
$team-side-background: #333;
$match-background: #333;
$border-color: #2f2724;

.container {
  background: $container-background;
  border: 1px solid $border-color;

  display: flex;
  justify-content: center;

  width: 850px;
  margin-top: 10px;
}

.team-side {
  background: $team-side-background;
  border: 1px solid $border-color;
}

.match {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 10px 0;
  width: 800px;
}

.dire {
  margin-left: 10px;
}

.radiant {
  margin-right: 10px;
}
