<div class="container">
  <div class="match">
    <div class="team-side radiant">
      <rm-team-info
        [players]="match.players.slice(0,5)"
        [side]="'radiant'"
        [sideName]="'Radiant'"
      ></rm-team-info>
    </div>
    <rm-meta-info
      [gameTime]='match.game_time'
      [radiantScore]="match.radiant_score"
      [direScore]="match.dire_score"
      [spectators]='match.spectators'
      [mmr]='match.average_mmr'
    ></rm-meta-info>
    <div class="team-side dire">
      <rm-team-info
        [players]="match.players.slice(5,10)"
        [side]="'dire'"
        [sideName]="'Dire'"
      ></rm-team-info>
    </div>
  </div>
</div>
