@import '~assets/_variables.scss';

.container {
  background: $first-layer-background;
  border: 1px solid $border-color;

  display: flex;
  justify-content: center;

  width: 770px;
  margin-top: 10px;
}

.team-side {
  background: $second-layer-background;
  border: 1px solid $border-color;
}

.match {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 10px 0;
  width: 800px;
}

.dire {
  margin-left: 10px;
}

.radiant {
  margin-right: 10px;
}
