$img-height: 33px;
$img-width: 59px;
$border-color: #2f2724;
$text-color: #d9d9d9;
$nav-menu-color: #1e2020;
$nav-menu-color-hover: #2e3030;
$menu-gradiant-dire: #5a171d;
$menu-gradiant-radiant: #4a9b4c;
$black: #000;
$grey: #808080;
$darkgrey: #a9a9a9;
$box-shadow-color: rgba(0, 0, 0, 0.75);
$box-shadow-color-hover: rgba(34, 98, 126, 0.5);


li {
  border: 1px solid $border-color;
  display: flex;
  height: $img-height;
  list-style-type: none;
  padding: 2px 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  margin-left: 3px;
}

.container {
  color: $text-color;
  font-size: 0.8rem;
  width: 300px;
  // transform-origin: top left;
  // transform: scale(0.90);
}

.nav-menu {
  background-color: $nav-menu-color;

  li {
    align-items: center;
    display: flex;

    &:nth-child(n+2) {

      &:hover {
        background-color: $nav-menu-color-hover;
      }
    }
  }

}

.dire {
  background: linear-gradient(to right, $menu-gradiant-dire, $black);
  // border-top: 3px solid rgba(90, 23, 29, 0.05);
  // border-bottom: 3px solid rgba(90, 23, 29, 0.05);
  // background: linear-gradient(to right, rgb(90, 23, 29), rgb(0, 0, 0));
}

.radiant {
  background: linear-gradient(to right, $menu-gradiant-radiant, $black);
  // border-top: 3px solid rgba(74, 155, 76, 0.05);
  // border-bottom: 3px solid rgba(74, 155, 76, 0.05);
  // background: linear-gradient(to right, rgb(45, 74, 28), rgb(0, 0, 0));
}

.nav-players {
  li {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
}

.players {
  margin: 0;
}

.value {
  margin-left: auto;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.player-name {
  font-size: 0.7rem;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 140px;
}

.drop-down-menu {
  border: 1px solid $border-color;
  box-shadow: 0 0 7px 1px $box-shadow-color;
  display: flex;
  font-size: 1rem;
  justify-content: flex-start;
  margin-bottom: 7px;
  padding: 4px;

  &:hover {
    background: $box-shadow-color-hover;
  }
}

.down-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $grey;
  height: 0;
  width: 0;
}

.arrow-box {
  align-items: center;
  background: transparent;
  border: 1px solid $darkgrey;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 40px;
}

.stat-title {
  display: flex;
  margin: 0 5px;
  padding-top: 6px;
}

.repsawn-img {
  display: flex;
  position: relative;
}
