<div class="container">
  <div (click)='toggle()' class="drop-down-menu">
      <div class="arrow-box">
        <div class="down-arrow"></div>
      </div>
      <div id="stat-title">
        GAME STATS
      </div>
  </div>
  <ul [hidden]="active" class="nav-menu">
    <li>GAME STATS</li>
    <li>(Q) KILL/DEATH/ASSISTS</li>
    <li>(W) LAST HITS/DENIES</li>
    <li>(E) HERO LEVEL</li>
    <li>(R) XP PER MINUTE</li>
    <li>(T) CURRENT GOLD</li>
    <li>(Y) NET WORTH</li>
    <li>(U) GOLD PER MINUTE</li>
    <li>(I) ULTIMATE COOLDOWN</li>
    <li>(O) RESPAWN TIMER</li>
  </ul>

  <ul [hidden]="!active" class="nav-players">
    <li ngClass="{{player.team}}" *ngFor="let player of combinedPlayers">
        <img src="http://cdn.dota2.com/apps/dota2/images/heroes/{{player.hero}}_sb.png" alt="">
        <div class="player-name">{{player.name}}</div>
        <span class="value">{{player.gold}}</span>
    </li>
  </ul>
</div>