$img-height: 33px;
$img-width: 59px;

li {
  height: $img-height;
  display: flex;
  list-style-type: none;
  padding: 2px 0;
  border: 1px solid rgb(47, 39, 36);
}

ul {
  padding: 0;
  margin: 0;
}

img {
  // height: $img-height;
  // width: $img-width;
}

.button:hover {
  background: blue;
}

.button {
  height: $img-height;
}

.container {
  color: #d9d9d9;
  font-size: 0.8rem;
  width: 300px;
  // transform-origin: top left;
  // transform: scale(0.90);
}

.nav-menu {
  background-color: #1e2020;
}

.nav-menu li {
  display: flex;
  align-items: center;
}

.nav-menu li:nth-child(n+2):hover {
  background-color: #2e3030;
}

.dire {
  background: linear-gradient(to right, rgb(90, 23, 29), rgb(0, 0, 0));
  // border-top: 3px solid rgba(90, 23, 29, 0.05);
  // border-bottom: 3px solid rgba(90, 23, 29, 0.05);
  // background: linear-gradient(to right, rgb(90, 23, 29), rgb(0, 0, 0));
}

.radiant {
  background: linear-gradient(to right, rgb(74, 155, 76), rgb(0, 0, 0));
  // border-top: 3px solid rgba(74, 155, 76, 0.05);
  // border-bottom: 3px solid rgba(74, 155, 76, 0.05);
  // background: linear-gradient(to right, rgb(45, 74, 28), rgb(0, 0, 0));
}

.nav-players li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.players {
  margin: 0;
}

img {
  margin-left: 3px;
}

.value {
  margin-left: auto;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.player-name {
  margin-left: 10px;
  width: 125px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.drop-down-menu {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  margin-bottom: 7px;
  border: 1px solid rgb(47, 39, 36);
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.75);
}

.drop-down-menu:hover {
  background: rgba(34, 98, 126, 0.50);
}

.down-arrow {
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid grey;
}

.arrow-box {
  background: transparent;
  border: 1px solid darkgrey;
  width: 40px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stat-title {
  display: flex;
  padding-top: 6px;
  margin: 0 5px;
}

.repsawn-img {
  display: flex;
  position: relative;
}

// .respawn {
//   background: black;
//   opacity: 0.75;
//   height: $img-height;
//   width: $img-width;
//   position: absolute;
//   // top: 0;
//   left: 3px;
// }

// .respawn div {
//   height: $img-height;
//   width: $img-width;
//   vertical-align: middle;
//   text-align: center;
//   background: #000;
//   display: table-cell;
// }
