$content-background: #222;
$border-color: #2f2724;

.container {
  background: $content-background;
  border: 1px solid $border-color;
  margin: 10px 0;
  max-width: 1040px;
  padding: 10px 0;
  width: 100%;
}

.team-title-info {
  margin-top: 3px;
}

.Dire {
  text-align: start;
  margin-left: 30px;
}

.Radiant {
  margin-right: 16px;
  text-align: end;
}