@import '../../../../../assets/_variables.scss';

.container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, $menu-gradiant-dire 50%, $radiant-color 50%);
}

.title {
  font-size: 1.3rem;
  background: $second-layer-background;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  height: 40px;
  text-align: center;
}

.graph {
  width: 396px;
  height: 70px;
  margin-top: 10px;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.graph-line {
  position: absolute;
  width: 396px;
}

svg {
  position: absolute;
  width: 100%;
  height: 30px;
  z-index: 1;
}


.data {
  width: $svg-summary-width;

  z-index: 2;
}

.valueNeutral {
  height: 28px;
  text-align: center;
  width: $svg-summary-width;  
  position: relative;

  .value {
    background: rgba(0,0,0, .7);
    border-radius: 5px;
  }

  .percent-value {
    font-size: .8rem;
    background: rgba(0,0,0, .7);

    border-radius: 5px;
    min-width: 50px;
  }
}

.inactive {
  stroke: grey;
  fill: grey;
}

.active-gold {
  stroke: $buyback-status;
  fill: $buyback-status;
}

.active-xp {
  stroke: $visited-link;
  fill: $visited-link;
}

.percent-container {
  min-width: 50px;
  
  position: absolute;
  top: 30px;
}



