@import '../../../assets/_variables.scss';

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 250px;
}

.meta-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  width: 120px;
  height: 50px;
}

.score-time {
  font-size: 1.2rem;
  position: relative;
  height: 55px;
  width: 123px;

  display: flex;
  .dire {
    text-align: start;
  }

  .radiant {
    text-align: end;
  }
}

.time {
  width: 67px;
  padding-bottom: 4px;
  text-align: center;
}

.score {
  font-size: 1rem;
  align-self: center;
  width: 25px;
}

.box {
  content: '';
  background: transparent;
  border-top: none;
  border-bottom: 2px solid $third-layer-background;
  border-left: 2px solid $third-layer-background;
  border-right: 2px solid $third-layer-background;

  width: 115px;
  height: 12px;

  position: absolute;
  left: 1px;
  top: 24px;
}

.mmr {
  text-align: center;
}

.mmr-text {
  font-size: .7rem;
}