.container {
  width: 100%;
  margin: 0 auto;
}

.draft-container {
  /*background-color: yellow;*/
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: nowrap;
  /*background-color:green;*/
}

.dire {
  display:flex;
  /*background-color: yellow;*/
}

.radiant {
  display:flex;
  /*background-color: grey;*/
}

.grid-container {
  /*background-color: pink;*/
  width: 150px;
  display: flex;
  justify-content: center;
}

.grid {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: row wrap;
}

.bans, .picks {
  width: 130px;
  height: 130px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-flow: row wrap;
  
}

.ban-cell,
.pick-cell {
  height: 33px;
  width: 59px;
}

.ban-cell:nth-child(-n+4),
.pick-cell:nth-child(-n+4) {
  background-color: black;
}

.ban-cell:nth-child(5),
.pick-cell:nth-child(5) {
  width: 130px;
  text-align: center;
}

.ban-cell:nth-child(5) div,
.pick-cell:nth-child(5) div {
  background-color: black;
  height: 33px;
  width: 59px;
  margin: 0px auto;
}

.pick-cell:nth-child(odd),
.ban-cell:nth-child(odd) {
  margin-right: 5px;
}


.players {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 130px;
  min-width: 0;
}

.player-cell {
  /* Required for text-overflow to do anything */
  font-size: .6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-break {
  width: 100%;
}

.phase {
  /*background-color: red;*/
  font-size: .6rem;
}
.teamName {
  margin-top: 10px;
  font-size: .7rem;
  /*background-color: blue;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sideName {
  width: 130px;
  text-align: center;
}

.radiant .sideName div:nth-child(1) {
  font-size: .6rem;
  color: darkgreen;
}

.dire .sideName div:nth-child(1) {
  text-align: center;
  font-size: .6rem;
  color: maroon;
}

.leagueName {
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  font-weight: bold;
}