<div class="container">
  <div class="draft-container">
  <div>  
    <h3 class="league-name">{{league.name}}</h3>
    <div class="draft">
    <div class="dire">
      <div class="grid">
        <span class="team-name">{{direTeamName}}</span>
        
          <app-mini-draft
            [side]='"dire"'
            [team]='dire'
          ></app-mini-draft>

          <div class="line-break"></div>
          <span class="side-name">
            <div class="side">Dire</div>
            <!--<span>Players</span>-->
          </span>
          <div class="line-break"></div>

          <div class="players">
            <div class="player-cell" *ngFor='let player of dire?.players'>
              <span>{{player.name}}</span>
            </div>
          </div>
        </div>
      </div>

    <div class="radiant">
        <div class="grid">
          <span class="team-name">{{radiantTeamName}}</span>

          <app-mini-draft
            [side]='"radiant"'
            [team]='radiant'
          ></app-mini-draft>

          <div class="line-break"></div>
          <span class="side-name">
            <div class="side">Radiant</div>
            <!--<span>Players</span>-->
          </span>
          <div class="line-break"></div>

          <div class="players">
            <div class="player-cell" *ngFor='let player of radiant?.players'>
              <span>{{player.name}}</span>
            </div>
          </div>
        </div>
    </div>
    </div>
    </div>
  </div>
</div>