<div class="container">
  <div class="leagueName">{{league.name}}</div>
  <div class="draft-container">
    <div class="dire">
      <div class="grid-container">
        <div class="grid">
          <span class="teamName">{{direTeamName}}</span>

          <div class="line-break"></div>
          <span class="phase">Bans</span>
          <div class="line-break"></div>

          <div class="bans">
            <div class="ban-cell" *ngFor='let hero of dire?.bans'>
              <div class="active-ban" *ngIf='hero !== -1'>
                <img @draft src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_sb.png'>
              </div>
              <div class="yeup" *ngIf='hero === -1' >&nbsp;</div>
            </div>
          </div>

          <div class="line-break"></div>
          <span class="phase">Picks</span>
          <div class="line-break"></div>

          <div class="picks">
            <div class="pick-cell" *ngFor='let hero of dire?.picks'>
              <img @draft *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_sb.png'>
              <div *ngIf='hero === -1' >&nbsp;</div>
            </div>
          </div>

          <div class="line-break"></div>
          <span class="sideName">
            <div>Dire</div>
            <span>Players</span>
          </span>
          <div class="line-break"></div>

          <div class="players">
            <div class="player-cell" *ngFor='let player of dire?.players'>
              <span>{{player.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="radiant">
      <div class="grid-container">
        <div class="grid">
          <span class="teamName">{{radiantTeamName}}</span>

          <div class="line-break"></div>
          <span class="phase">Bans</span>
          <div class="line-break"></div>

          <div class="bans">
            <div class="ban-cell" *ngFor='let hero of radiant?.bans'>
              <div class="active-ban" *ngIf='hero !== -1'>
                <img @draft src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_sb.png'>
              </div>
              <div *ngIf='hero === -1' >&nbsp;</div>
            </div>
          </div>

          <div class="line-break"></div>
          <span class="phase">Picks</span>
          <div class="line-break"></div>

          <div class="picks">
            <div class="pick-cell" *ngFor='let hero of radiant?.picks'>
              <img @draft *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_sb.png'>
              <div *ngIf='hero === -1' >&nbsp;</div>
            </div>
          </div>

          <div class="line-break"></div>
          <span class="sideName">
            <div>Radiant</div>
            <span>Players</span>
          </span>
          <div class="line-break"></div>

          <div class="players">
            <div class="player-cell" *ngFor='let player of radiant?.players'>
              <span>{{player.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>