
<app-button-info
  [apiStatus]="apiService.isApiUp"
  [gameCount]="apiService.gameCount"
  [leagueUrl]="apiService.currentGame.league.tournament_url"
  [leagueName]="apiService.currentGame.league.name"
  [gamesLength]="apiService.dataLength"
  [spectators]="apiService.currentGame.spectators"
  [allGamesLength]="apiService.allData.length"
></app-button-info>

<div
  [@lockPad]="apiService.locked ? 'locked' : 'unlocked'"
  class="container"
  *ngIf='!scoreboard.did_game_start'>
  <app-draft 
    [radiant]='scoreboard.radiant'
    [dire]='scoreboard.dire'
    [radiantTeamName]='radiantTeamName'
    [direTeamName]='direTeamName'
    [league]='league'
  ></app-draft>
</div>

<div
  [@lockPad]="apiService.locked ? 'locked' : 'unlocked'"
  class="container"
  *ngIf='scoreboard.did_game_start'>
  <app-match></app-match>
</div>
