<div class="container">
  <div class="content">
    <h2>Top 5 Games</h2>
    <app-scoreboard-match
      [shortcut]="scoreboardValue"
      (change)="switchScoreboardValue($event)"
    ></app-scoreboard-match>
    <div *ngFor="let match of apiService.allData; let i = index;">
      <app-live-match
        *ngIf="match.scoreboard.duration > 0"
        (change)="switchToGame($event)"
        [match]='match'
        [index]='i'
        [scoreboardValue]="scoreboardValue"
        >
      </app-live-match>
      <app-draft-match
        *ngIf="match.scoreboard.duration === 0"
        (change)="SwitchToGame($event)"
        [match]='match'
        [index]='i'>
      </app-draft-match>  
    </div>
  </div>
</div>