$font-color: #d9d9d9;
$border-color: #2f2724;
$content-background: #111;

$box-shadow-color: rgba(0, 0, 0, 0.75);
$box-shadow-color-hover: rgba(34, 98, 126, 0.5);

$grey: #808080;
$darkgrey: #a9a9a9;

$nav-menu-color: #1e2020;
$nav-menu-color-hover: #2e3030;

$text-color: #d9d9d9;

$link-color: #142958;
$visted-link: #22627E;


.container {
  display: flex;
}

.content {
  background: $content-background;
  border: 1px solid $border-color;

  align-items: center;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  min-width: 1100px;
  min-height: 900px;
}

h2 {
  margin-top: 15px;
  margin-bottom: 10px;
}
