<div class="container">
  <div class="content">
    <h2>Live Games</h2>
    <div *ngFor="let match of apiService.allData; let i = index;">
      <app-live-match
        *ngIf="match.scoreboard.duration > 0"
        (change)="SwitchToGame($event)"
        [match]='match'
        [index]='i'>
      </app-live-match>
      <app-draft-match
        *ngIf="match.scoreboard.duration === 0"
        (change)="SwitchToGame($event)"
        [match]='match'
        [index]='i'>
      </app-draft-match>  
    </div>
  </div>
</div>