
<div class="parent">
  <img class="child" src="app/assets/images/dota-map-6.86-40p-7q.jpg" alt="">
  <div class="child" [style.width.px]='395' [style.height.px]='380'>
    <div *ngFor="let hero of radiant">
      <app-sprite-animation
        [heroId]='hero.hero_id'
        [posX]='hero.position_x | calculateX:395'
        [posY]='hero.position_y | calculateY:380'
        [oldPosX]='hero.old_position_x | calculateX:395'
        [oldPosY]='hero.old_position_y | calculateX:380'
        [respawnTimer]='hero.respawn_timer'>
      </app-sprite-animation>
    </div>
    <div *ngFor="let hero of dire">
      <app-sprite-animation
        [heroId]='hero.hero_id'
        [posX]='hero.position_x | calculateX:395'
        [posY]='hero.position_y | calculateY:380'
        [oldPosX]='hero.old_position_x | calculateX:395'
        [oldPosY]='hero.old_position_y | calculateX:380'
        [respawnTimer]='hero.respawn_timer'>
      </app-sprite-animation>
  </div>
</div>