@import '../../../assets/_variables.scss';


.draft-container {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin: 0 5px;
}

.titles {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  width: 887px;
  height: 36px;

  &.radiant {
    .side {
      color: $radiant-color;
    }
  }

  &.dire {
    .side {
      color: $dire-color;
    }
  }

  &:last-child {
    margin-bottom: 10px;
    margin-top: 2px;
  }
}

.side {
  padding-left: 17px;
  width: 60px;
}

.bans-title {
  display: flex;
  font-size: .8rem;
  justify-content: center;
  margin-left: 5px;
  width: 59px;

  &.radiant-bans-title {
    margin-bottom: 6px;
  }
}

.team-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
  font-size: 1.5rem;
  flex: 1;

  margin-bottom: 15px;
  
  .name {
    max-width: 500px;
    text-align: end;
    font-weight: 700;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.team-radiant {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 8px;
  margin-right: 12px;
  width: 820px;
}

.column {
  display: flex;
  flex-direction: column;
  height: 185px;
  justify-content: flex-start;
  width: 59px;
}

.players {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;

  &:last-child {
    justify-content: flex-end;

    .player-cell {
      margin-bottom: 0;
      margin-top: 8px;
    }
  }
}

.ban-cell {
  background: radial-gradient(ellipse at top, $grey-alpha, $black-alpha 110%);
  border: 1px solid $black;
  height: 33px;
  margin-bottom: 2px;
  position: relative;
  width: 59px;

  img {
    height: 33px;
    width: 59px;
  }
}

.player-cell {
  font-size: 0.8rem;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dire-pick {
  background: radial-gradient(ellipse at bottom, $dire-alpha, $black-alpha 85%);
}

.radiant-pick {
  background: radial-gradient(ellipse at top, $radiant-alpha, $black-alpha 85%);
}

.pick-cell {
  border: 1px solid $black;
  height: 180px;
  margin-left: 5px;
  width: 150.33px;

  img {
    height: 180px;
    width: auto;
  }
}

.line-break {
  margin-top: 50px;
  width: 100%;
}

.league-name {
  font-weight: bold;
  margin-left: 50px;
  margin-top: 10px;
}

.active-ban {
  &::before {
    border-top: 1px solid;
    color: $slash-color;
    content: '';
    left: -3px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(-25deg);
    width: 65px;
  }
}

.series {
  margin-top: 3px;
}
