.draft-constainer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 900px;
}

.bans {
  align-self: flex-start;
}
.picks {
  
}

.hero-pick {
  height: 181px;
  margin-left: 10px;
}