.container {
  width: 1020px;
  margin: 0 auto;
}

.draft-container {
  /*background-color: yellow;*/
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
}

.titles {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.direName {
  padding-left: 5px;
  width: 60px;
  color: maroon;
}

.radiantName {
  padding-left: 5px;
  width: 60px;
  color: darkgreen;  
}

.bansTitle {
  display: flex;
  width: 60px;
  justify-content: center;
  align-self: center;
  font-size: .6rem;
}

.teamName {
  width: 710px;
  text-align: right;
  font-size: 1.5rem;
}

.row {
  width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /*background-color:grey;*/
}

.column {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*background-color: blue;*/
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;
  flex: 1;
  /*background-color: cyan;*/
}
.players:last-child {
  justify-content: flex-end;
}

.players:last-child .player-cell {
  margin-bottom: 0px;
  margin-top: 8px;
}

.ban-cell {
  height: 33px;
  margin-bottom: 2px;
  background: black;
}

.player-cell {
  margin-bottom: 8px;
  font-size: .7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player-cell {
  margin-bottom: 8px;
  font-size: .7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pick-cell {
  /*background: green;*/
  margin-left: 5px;
  height: 174px; /* old 174 */
  width: 150.33px;
  background-color: black;
}

.pick-cell > img {
    height: 174px; /* old 174 */
    width: auto;
}

.line-break {
  width: 100%;
  margin-top: 50px;
}

.leagueName {
  margin-left: 50px;

}