<div (window:resize)="onResize($event)">
  <div *ngIf="smallerScreenSize === false" class="container">

    <h2 class="leagueName">{{league.name}}</h2>    
    <div class="titles">
      <span class="bansTitle">Bans</span>
      <span class="direName">Dire</span>
      <span class="teamName"><b>{{direTeamName}}</b></span>
    </div>

    <div class="draft-container">
      <div class="column">
        <div class="ban-cell" *ngFor='let hero of dire?.bans'>
          <img @draft *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_sb.png'>
        </div>
      </div>
      <div class="row">
        <div class="pick-cell" *ngFor='let hero of dire?.picks'>
          <img @draft *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_vert.jpg'>
        </div>
      </div>
      <div class="players">
        <div class="player-cell" *ngFor='let player of dire?.players'>
          <span>{{player.name}}</span>
        </div>
      </div>

      <div class="line-break"></div>

      <div class="column">
        <div class="ban-cell" *ngFor='let hero of radiant?.bans'>
          <img @draft *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_sb.png'>
        </div>
      </div>
      <div class="row">
        <div class="pick-cell" *ngFor='let hero of radiant?.picks'>
          <img @draft *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_vert.jpg'>
        </div>
      </div>
      <div class="players">
        <div class="player-cell" *ngFor='let player of radiant?.players'>
          <span>{{player.name}}</span>
        </div>
      </div>
    </div>

    <div class="titles">
      <span class="bansTitle">Bans</span>
      <span class="radiantName">Radiant</span>
      <span class="teamName"><b>{{radiantTeamName}}</b></span>
    </div>
  </div>
  <div *ngIf="smallerScreenSize === true">
    <mobile-draft
      [radiant]='radiant'
      [dire]='dire'
      [radiantTeamName]='radiantTeamName'
      [direTeamName]='direTeamName'
      [league]='league'
    ></mobile-draft>
  </div>
<div>