$content-background: #111;
$border-color: #2f2724;
$dire-color: #800000;
$radiant-color: #006400;
$black-alpha: rgba(0, 0, 0, 0.65);
$dire-alpha: rgba(255, 100, 100, 0.15);
$radiant-alpha: rgba(150, 255, 150, 0.15);
$grey-alpha: rgba(200, 200, 200, 0.15);
$slash-color: #8b0000;

.container {
  background-color: $content-background;
  border: 1px solid $border-color;
  margin: 0 auto;
  margin-top: 15px;
  width: 1100px;
}

.draft-container {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  margin: 0 5px;
}

.titles {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;

  &.radiant {
    .side {
      color: $radiant-color;
    }
  }

  &.dire {
    .side {
      color: $dire-color;
    }
  }

  &:last-child {
    margin-bottom: 5px;
    margin-top: 2px;
  }
}

.side {
  padding-left: 17px;
  width: 60px;
}

.bans-title {
  // align-self: flex-end;
  // text-align: bottom;
  display: flex;
  font-size: .8rem;
  justify-content: center;
  margin-left: 5px;
  width: 59px;
}

.team-name {
  font-size: 1.5rem;
  text-align: right;
  width: 745px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 8px;
  margin-right: 12px;
  width: 820px;
}

.column {
  display: flex;
  flex-direction: column;
  height: 175px;
  justify-content: flex-start;
  width: 59px;
}

.players {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;

  &:last-child {
    justify-content: flex-end;

    .player-cell {
      margin-bottom: 0;
      margin-top: 8px;
    }
  }
}

.ban-cell {
  background: radial-gradient(ellipse at top, $grey-alpha, $black-alpha 110%);
  height: 33px;
  margin-bottom: 2px;
  position: relative;

  img {
    height: 33px;
    width: 59px;
  }
}

.player-cell {
  font-size: 0.7rem;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dire-pick {
  background: radial-gradient(ellipse at top, $dire-alpha, $black-alpha 110%);
}

.radiant-pick {
  background: radial-gradient(ellipse at bottom, $radiant-alpha, $black-alpha 110%);
}

.pick-cell {
  height: 174px;
  margin-left: 5px;
  width: 150.33px;

  img {
    height: 174px;
    width: auto;
  }
}

.line-break {
  margin-top: 50px;
  width: 100%;
}

.league-name {
  // margin-bottom: 10px;
  font-weight: bold;
  margin-left: 50px;
  margin-top: 10px;
}

.active-ban {
  &::before {
    border-top: 1px solid;
    color: $slash-color;
    content: '';
    left: -3px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(-25deg);
    width: 65px;
  }
}
