@import '../../../../../assets/_variables.scss';

.flex-container {
  height: 100px;
  width: 110px;
}

.item {
  background: $black;
  border: 1px solid $border-color;
  float: left;
  height: $item-img-height;
}

.blank {
  background: radial-gradient(ellipse at top left, $white-alpha, $black-alpha 100%);
  height: $item-img-height;
  width: $item-img-width;
}

img {
  height: $item-img-height;
  width: $item-img-width;
}
