.icons {
  position: absolute;
}

/*
* dire ancient
*/
.dire_ancient_building {
  top: 15.5%;
  left: 82%;
}

/*
* dire barracks
*/
.dire_barracks_bottom_ranged {
  top: 26%;
  left: 84%;
}
.dire_barracks_bottom_melee {
  top: 26%;
  left: 86.55%;
}
.dire_bottom_3 {
  top: 28%;
  left: 85.3%;
}
.dire_barracks_middle_ranged {
  top: 22.1%;
  left: 73.8%;
}
.dire_barracks_middle_melee {
  top: 23.3%;
  left: 75.5%;
}
.dire_middle_3 {
  top: 24.1%;
  left: 72.8%;
}
.dire_barracks_top_ranged {
  top: 10%;
  left: 71.5%;
}
.dire_barracks_top_melee {
  top: 12.5%;
  left: 71.5%;
  z-index: 1;
}
.dire_top_3 {
  top: 11.5%;
  left: 69.5%;
}
/*
* dire towers
*/
.dire_ancient_1 {
  top: 17.5%;
  left: 78%;
}
.dire_ancient_2 {
  top: 19.5%;
  left: 81%;
  z-index: 1;
}
.dire_bottom_1 {
  top: 240px;
  left: 363px;
}
.dire_bottom_2 {
  top: 190px;
  left: 363px;
}
.dire_middle_1 {
  top: 190px;
  left: 230px;
}
.dire_middle_2 {
  top: 145px;
  left: 270px;
}
.dire_top_1 {
  top: 45px;
  left: 85px;
}
.dire_top_2 {
  top: 45px;
  left: 205px;
}

/*
* radiant ancient
*/
.radiant_ancient_building {
  top: 330px;
  left: 56px;
}

/*
* radiant towers
*/
.radiant_ancient_1 {
  top: 320px;
  left: 60px;
}
.radiant_ancient_2 {
  top: 327px;
  left: 71px;
}
.radiant_bottom_1 {
  top: 345px;
  left: 330px;
}
.radiant_bottom_2 {
  top: 352px;
  left: 195px;
}
.radiant_bottom_3 {
  top: 350px;
  left: 110px;
}
.radiant_middle_1 {
  top: 230px;
  left: 165px;
}
.radiant_middle_2 {
  top: 265px;
  left: 125px;
}
.radiant_middle_3 {
  top: 296px;
  left: 91px;
}
.radiant_top_1 {
  top: 150px;
  left: 45px;
}
.radiant_top_2 {
  top: 220px;
  left: 45px;
}
.radiant_top_3 {
  top: 280px;
  left: 40px;
}

/*
* radiant barracks
*/
.radiant_barracks_bottom_ranged {
  top: 345px;
  left: 100px;
}
.radiant_barracks_bottom_melee {
  top: 355px;
  left: 100px;
}
.radiant_barracks_middle_ranged {
  top: 300px;
  left: 81px;
}
.radiant_barracks_middle_melee {
  top: 305px;
  left: 88px;
}
.radiant_barracks_top_ranged {
  top: 288px;
  left: 35px;
}
.radiant_barracks_top_melee {
  top: 288px;
  left: 45px;
}
