$ultimate-ready: #050;
$ultimate-inactive: #444;
$ultimate-border: #080;
$team-background: #222;
$border-color: #2f2724;
$dire-color: #800000;
$radiant-color: #006400;

.flex-conatiner {
  // background: $team-background;
  // border: 1px solid $dire-color;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: .5rem;
}

.team-side {
  background: $team-background;
  display: flex;
  height: 105px;
  justify-content: center;
  width: 1000px;
}

.items {
  margin-bottom: 2px;
  margin-top: 2px;
  width: 90px;
}

.team {
  align-items: center;
  display: flex;
}

.player-stats {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // margin-right: 5px;
  position: relative;
  width: 110px;
}

img {
  border: 1px solid $border-color;
  // height: 33px;
  width: 70%;
}

.ultimate {
  // background: $ultimate-ready;
  border: 1px solid $ultimate-border;
  height: 18px;
  margin-top: 12px;
  opacity: .8;
  transform: rotate(45deg);
  width: 18px;
}

.ultimate-active {
  background: $ultimate-ready;
}

.ultimate-inactive {
  background: $ultimate-inactive;
}

.ultimate-cooldown {
  position: absolute;
  top: 63px;
}

@-moz-document url-prefix() {
    .ultimate-cooldown {
      left: 52px;
      position: absolute;
    }
}
