$team-background: #222;
$ultimate-ready: #050;
$ultimate-inactive: #444;
$ultimate-border: #080;
$img-border: #333;

.flex-conatiner {
  background: $team-background;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: .5rem;
}

.team-side {
  display: flex;
  height: 90px;
  justify-content: space-around;
  width: 750px;
}

.items {
  margin-bottom: 2px;
  width: 75px;
}

.team {
  align-items: center;
  display: flex;
}

.player-stats {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 5px;
  position: relative;
}

img {
  border: 1px solid $img-border;
  height: 33px;
  width: 59px;
}

.ultimate {
  // background: $ultimate-ready;
  border: 1px solid $ultimate-border;
  height: 18px;
  margin-top: 8px;
  opacity: .8;
  transform: rotate(45deg);
  width: 18px;
}

.ultimate-active {
  background: $ultimate-ready;
}

.ultimate-inactive {
  background: $ultimate-inactive;
}

.ultimate-cooldown {
  position: absolute;
  top: 48px;
}
