<div class="mini-draft">
  <div class="line-break"></div>
    <span class="phase">Bans</span>
  <div class="line-break"></div>
  <div class="bans">
    <div class="ban-cell" *ngFor='let hero of team?.bans'>
      <div class="active-ban" *ngIf='hero !== -1'>
        <img @draft src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_sb.png' alt="{{hero}}">
      </div>
      <div *ngIf='hero === -1' >&nbsp;</div>
    </div>
  </div>

  <div class="line-break"></div>
  <span class="phase">Picks</span>
  <div class="line-break"></div>

  <div ngClass="{{side}}-picks picks">
    <div class="pick-cell" *ngFor='let hero of team?.picks'>
      <img @draft *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_sb.png' alt="{{hero}}">
      <div *ngIf='hero === -1' >&nbsp;</div>
    </div>
  </div>
  <!--<div class="line-break"></div>
  <span class="side-name">
    <div class="side">Radiant</div>
    <span>Players</span>
  </span>
  <div class="line-break"></div>

  <div class="players">
    <div class="player-cell" *ngFor='let player of radiant?.players'>
      <span>{{player.name}}</span>
    </div>
  </div>-->
</div>