$first-layer-background: #222;
$border-color: #2f2724;

$font-color: #d9d9d9;
$link-color: #142958;
$visted-link: #22627E;

$black: #000;
$gradient-black: #211602;
$inactive-series: #935c08;
$active-series: #b8860b;

$grey-alpha: rgba(200, 200, 200, 0.15);
$black-alpha: rgba(0, 0, 0, 0.65);
$slash-color: #8b0000;

$dire-color: #800000;
$radiant-color: #006400;

.container {
  background: $first-layer-background;
  box-shadow: 0px 0px 15px 0px $link-color;
  border: 1px solid $border-color;
  cursor: pointer;
  margin: 10px 0;
  width: 1040px;
  position: relative;



  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  &:hover {
    box-shadow: 0px 0px 15px 0px $visted-link;
  }
}

.match {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.teams {
  border: 1px solid $border-color;
  background: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  width: 1020px;
}

.team1 {
  display: flex;
  justify-content: flex-end;
}

.team2 {
  display: flex;
  justify-content: flex-start;
}

.series-type {
  font-size: .8rem;
  margin: 3px 0;
}


.series-games {
  align-items: center;
  display: flex;
  margin-bottom: 3px;

  width: 40px;

  &.series-dire {
    justify-content: flex-start;
    margin-left: 15px;
  }
  &.series-radiant {
    justify-content: flex-end;
    margin-right: 15px;
  }
}

.series {
  border: 1px solid $black;
  height: 20px;
  margin: 0 2px;
  outline: 1px solid transparent;
  transform: skew(-15deg);

  width: 10px;
}

.active {
  background: $active-series;
}

.inactive {
  background: linear-gradient($gradient-black, $inactive-series 50%, $gradient-black);
}

.team-names {
  display: flex;
  justify-content: flex-start;
  font-size: 1.3rem;
  width: 470px;
  
  margin-bottom: 0;
  margin-top: 5px;



  &.dire {
    margin-left: 5px;

    .name-series {
      display: flex;
      flex-direction: row;
      flex: 1;
    }
  }

  &.radiant {
    .name-series {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      flex: 1;
    }
  }
}


.team-name {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.score {
  font-size: 1rem;
  height: 36px;
  line-height: 36px;
  
  &.score-dire {
    margin-right: 13px;
  }

  &.score-radiant {
    margin-left: 16px;
  }
}



.side {
  margin: 0 10px;
  width: 480px;
}

.middle-vs {
  height: 90px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player-names {
  font-size: .7rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 84px;
  max-width: 84px;

  text-align: center;
}

.side-dire {
  color: $dire-color;
  margin-right: 25px;
}

.side-radiant {
  color: $radiant-color;
  margin-left: 30px;
}