<div class="container" (click)=sendToParent()>
  <div class="match">
    <div class="league">
      {{match.league.name}}
    </div>
    <div class="side">
      <div class="team-names dire">
        {{match.dire_team_name}} - <span class="score score-dire">{{match.scoreboard.dire.score}}</span>
        <app-series
          [gameSeries]='match.series.dire_series_wins'
          [teamSide]='"dire"'
        ></app-series>
      </div>
      <app-hero-picks
        [players]="match.scoreboard.dire.players"
      ></app-hero-picks>
    </div>
    vs
    <div class="side">
      <div class="team-names radiant">
        <app-series
          [gameSeries]='match.series.dire_series_wins'
          [teamSide]='"radiant"'
        ></app-series>
        <span class="score score-radiant">{{match.scoreboard.dire.score}}</span> - {{match.radiant_team_name}}
      </div>
      <app-hero-picks
        [players]="match.scoreboard.radiant.players"
      ></app-hero-picks>
    </div>
  </div>
<div>