<div ngClass="flex-conatiner {{side}}">
  <div class="team-side">
    <div class="team" *ngFor="let player of team">
      <div class="player-stats">
        <img *ngIf="player.hero !== 'None'" src="http://cdn.dota2.com/apps/dota2/images/heroes/{{player.hero}}_hphover.png" alt="{{player.hero}}">
        <div class="blank" *ngIf="player.hero === 'None'"></div>
        <div ngClass="ultimate {{player.ultimate_cooldown === 0 ? 'ultimate-active' : 'ultimate-inactive'}}">&nbsp;</div>
      </div>
      <lg-hero-items class="items"
        [items]='player.items'></lg-hero-items>
    </div>
  </div>
</div>