@import '../../../../assets/_variables.scss';

.flex-conatiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: .5rem;
}

.team-side {
  background: $first-layer-background;
  display: flex;
  height: 105px;
  justify-content: center;
  width: 1000px;
}

.items {
  margin-bottom: 2px;
  margin-top: 2px;
  width: 90px;
}

.team {
  align-items: center;
  display: flex;
}

.player-stats {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  width: 110px;
}

img {
  border: 1px solid $border-color;

  height: 46px;
  width: 82.27px;
}

.ultimate {
  height: 18px;
  margin-top: 12px;
  opacity: .8;
  transform: rotate(45deg);
  width: 18px;
}

.ultimate-active {
  background: $ultimate-ready;
}

.ultimate-inactive {
  background: $ultimate-inactive;
}

.ultimate-cooldown {
  position: absolute;
  top: 63px;
}

.buyback-active {
  border: 1px solid $buyback-status;
}

.buyback-inactive {
  border: 1px solid $ultimate-border;
}

.dire {
  box-shadow: 0px 0px 15px 0px $dire-color;
}

.radiant {
  box-shadow: 0px 0px 15px 0px $radiant-color;
}

.blank {
  height: 46px;
  margin-left: 3px;
  width: 82.28px;
}

.respawn-timer {
  font-size: 1rem;
  position: absolute;
  left: -2px;
  top: 1px;
}

.respawn {
  display: flex;
  justify-content: center;
  position: relative;
}
