$height: 25.6px;
$width: 34px;
$white-alpha: rgba(255, 255, 255, 0.2);
$black-alpha: rgba(0, 0, 0, 0.65);
$border-color: #2f2724;
$background: #000;
// gradiants 32, 36, 35
// gradiants 32, 36, 35 / 28 28 28 / 19 21 16 / 15 17 14

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center;
  // margin-top: 10px;
   height: 80px;
  // width: 70.75px;
}

.item {
  background: $background;
  border: 1px solid $border-color;
  height: $height;
  // width: 80px;
}

.blank {
  background: radial-gradient(ellipse at top left, $white-alpha, $black-alpha 100%);
  height: $height;
  width: $width;
}

img {
  height: $height;
  width: $width;
}