$height: 25.6px;
$width: 34px;
$black: #000;
$border-color: #2f2724;
$white-alpha: rgba(255, 255, 255, 0.2);
$black-alpha: rgba(0, 0, 0, 0.65);

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80px;
}

.item {
  background: $black;
  border: 1px solid $border-color;
  height: $height;
}

.blank {
  background: radial-gradient(ellipse at top left, $white-alpha, $black-alpha 100%);
  height: $height;
  width: $width;
}

img {
  height: $height;
  width: $width;
}