<div class="container">
  <div class="title">{{title}}</div>
  <div class="content">
    <div>
      <div class="value">
        <span *ngIf='sortValue=== "net_worth"'>{{mvpDire[sortValue] | addCommas}}</span>
        <span *ngIf='sortValue=== "last_hits"'>{{mvpDire[sortValue] | addCommas}} / {{mvpDire['denies'] | addCommas}}</span>           
      </div>
      <div class="repsawn-img">
        <picture *ngIf="mvpDire['hero'] !== 'None'">
          <source srcset="http://cdn.dota2.com/apps/dota2/images/heroes/{{mvpDire['hero']}}_hphover.png" sizes="100%" media="screen and (min-device-width: 500px)">
          <img src="../../../assets/img/heroes/{{mvpDire['hero']}}.png" alt="{{mvpDire['hero']}}">
        </picture>
        <div class="blank" *ngIf="mvpDire['hero'] === 'None'"></div>
        <lg-hero-respawn *ngIf="mvpDire['respawn_timer'] > 0"
          [respawn]="mvpDire['respawn_timer']"
          ></lg-hero-respawn>
      </div>
    </div>
    <div>
      <div class="value">
        <span *ngIf='sortValue=== "net_worth"'>{{mvpRadiant[sortValue] | addCommas}}</span>
        <span *ngIf='sortValue=== "last_hits"'>{{mvpRadiant[sortValue] | addCommas}} / {{mvpRadiant['denies'] | addCommas}}</span>         
      </div>
      <div class="repsawn-img">
        <picture *ngIf="mvpRadiant['hero'] !== 'None'">
          <source srcset="http://cdn.dota2.com/apps/dota2/images/heroes/{{mvpRadiant['hero']}}_hphover.png" sizes="100%" media="screen and (min-device-width: 500px)">
          <img src="../../../assets/img/heroes/{{mvpRadiant['hero']}}.png" alt="{{mvpRadiant['hero']}}">
        </picture>
        <div class="blank" *ngIf="mvpRadiant['hero'] === 'None'"></div>
        <lg-hero-respawn *ngIf="mvpRadiant['respawn_timer'] > 0"
          [respawn]="mvpRadiant['respawn_timer']"
          ></lg-hero-respawn>
      </div>
    </div>
  </div>
</div>
