<div *ngIf="matches.length === 0">
  <h3>The&nbsp;<a href="https://steamstat.us/">Steam API is down</a>&nbsp;or no games are up.</h3>
</div>
<div class="container" *ngFor="let match of matches">
  <div class="match">
    <div class="team-side radiant">
      <rm-team-info
        [players]="match?.players.slice(0,5)"
        [side]="'radiant'"
        [sideName]="'Radiant'"
      ></rm-team-info>
    </div>
    <rm-meta-info
      [gameTime]='match?.game_time'
      [radiantScore]="match?.radiant_score"
      [direScore]="match?.dire_score"
      [spectators]='match?.spectators'
      [mmr]='match?.average_mmr'
    ></rm-meta-info>
    <div class="team-side dire">
      <rm-team-info
        [players]="match?.players.slice(5,10)"
        [side]="'dire'"
        [sideName]="'Dire'"
      ></rm-team-info>
    </div>
  </div>
</div>
