img {
  height: 46px;
  width: 82.28px;  
}

.blank {
  background: #444;
  height: 46px;
  width: 82.28px;
}

.player {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.player-info {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}

.radiant {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-right: 5px;

  .kda {
    text-align: end;  
  }
  .name {
    text-align: end;  
  }

  .player-info {
    margin-right: 10px;
  }
}

.dire {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 5px;

  .player-info {
    margin-right: 10px;
  }

  .kda {
    text-align: start;  
  }
  .name {
    text-align: start;  
  }

  .player-info {
    margin-left: 10px;
  }
}

.kda {
  font-size: .7rem;
}