<nav class="main-nav">
  <ul>
    <a [routerLink]="['/previous']" routerLinkActive="active">Previous</a>
    <div class="live-match">
      <a [routerLink]="['/all']" routerLinkActive="active">All</a> 
      <a [routerLink]="['/live']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Live
      </a>
      <a [routerLink]="['/ranked']" routerLinkActive="active">Ranked</a>
    </div>
    <a [routerLink]="['/upcoming']" routerLinkActive="active">Upcoming</a>
  </ul>
</nav>
