$content-background: #111;
$main-nav-background: #eee;
$border: #2f2724;
$black: #000;
$grey: #555;
$light-grey: #777;
$font-color: #d9d9d9;
$box-shadow-color-hover: rgba(34, 98, 126, 0.5);

.main-nav {
  align-items: center;
  background: $black;
  display: flex;
  flex-direction: row;

  font-size: 1.2rem;
  margin: 10px 0;

  ul {
    align-items: center;
    display: flex;
    justify-content: space-around;

    border: 1px solid $border;
    background: $content-background;
    height: 40px;
    min-width: 1100px;
    list-style: none;
    margin: 0 auto;
    padding: 0;

    a {
      color: $font-color;
      margin: 0 5px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      width: 200px;

      &:hover {
        background: $box-shadow-color-hover;
      }
    }
  }
  // http://alwaystwisted.com/articles/2012-05-12-create-a-pure-css-menu-button
  .lines {
    border-bottom: 17px double $black;
    border-top: 6px solid $black;
    content: '';
    height: 5px;
    width: 30px;
  }
}

.live-match {
  display: flex;
  justify-content: center;
  width: 500px;
  // border-bottom: 2px solid #444;
}

.active {
  background: $grey;
}
