$content-background: #222;
$border-color: #2f2724;

$font-color: #d9d9d9;
$link-color: #142958;
$visted-link: #22627E;

$black: #000;
$gradient-black: #211602;
$inactive-series: #935c08;
$active-series: #b8860b;

$grey-alpha: rgba(200, 200, 200, 0.15);
$black-alpha: rgba(0, 0, 0, 0.65);
$slash-color: #8b0000;

$black-alpha: rgba(0, 0, 0, 0.65);
$dire-alpha: rgba(255, 100, 100, 0.15);
$radiant-alpha: rgba(150, 255, 150, 0.15);
$grey-alpha: rgba(200, 200, 200, 0.15);

a {
  &:visited {
    color: $visted-link;
  }

  &:active {
    color: $link-color;
  }
}

.container {
  background: $content-background;
  box-shadow: 0px 0px 15px 0px #142958;
  border: 1px solid $border-color;
  cursor: pointer;
  margin: 10px 0;
  width: 1000px;
  

  &:hover {
    animation: boxShadow 0.2s ease-in-out both;
  }
}

.match {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.league {
  font-size: .8rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 575px;
}

.teams {
  display: flex;
  flex-direction: row;
}

.team {
  font-size: 1.2rem;
  // margin-right: 20px;
  overflow: hidden;
  // text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

.team1 {
  display: flex;
  justify-content: flex-end;
}

.team2 {
  display: flex;
  justify-content: flex-start;
}

.series-type {
  font-size: .8rem;
  margin: 3px 0;
}

@keyframes boxShadow {
  from {
    box-shadow: 0px 0px 15px 0px #142958;
  }

  to {
    box-shadow: 0px 0px 15px 0px #22627E;
  }
}

.series-games {
  align-items: center;
  display: flex;
  margin-bottom: 3px;
  margin-left: 15px;
  
  width: 40px;
}

.series {
  border: 1px solid $black;
  height: 20px;
  margin: 0 2px;
  outline: 1px solid transparent;
  transform: skew(-15deg);
  
  width: 10px;
}

.active {
  background: $active-series;
}

.inactive {
  background: linear-gradient($gradient-black, $inactive-series 50%, $gradient-black);
}

.team-names {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;

  &.radiant {
    justify-content: flex-end;
  }
}

.score {
  font-size: 1.4rem;
  height: 36px;
  line-height: 36px;
  margin-left: 5px;
}

.heroes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.picks {
  margin: 5px 0;
}

.bans {
  margin: 5px 0;
}

img, .blank {
  width: 82.27px;
  height: 46px;
}

.side {
  margin: 0 10px;
  width: 470px;
}

.ban-cell {
  background: radial-gradient(ellipse at top, $grey-alpha, $black-alpha 110%);
  border: 1px solid $black;
  height: 33px;
  margin-bottom: 2px;
  position: relative;
  width: 59px;

  img {
    height: 33px;
    width: 59px;
  }
}

.active-ban {
  &::before {
    border-top: 1px solid;
    color: $slash-color;
    content: '';
    left: -3px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(-25deg);
    width: 65px;
  }
}

.pick-cell {
  border: 1px solid $black;
  height: 46px;
  margin-left: 5px;
  width: 82.27px;

  img {
    height: 46px;
    width: auto;
  }
}

.dire-pick {
  background: radial-gradient(ellipse at bottom, $dire-alpha, $black-alpha 110%);
}

.radiant-pick {
  background: radial-gradient(ellipse at bottom, $radiant-alpha, $black-alpha 110%);
}