@import '~assets/_variables.scss';

.container {
  background: $first-layer-background;
  box-shadow: 0px 0px 15px 0px $active-link-color;
  border: 1px solid $border-color;
  cursor: pointer;
  margin: 10px 0;
  width: 1040px;

  position: relative;

  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;

  &:hover {
    box-shadow: 0px 0px 15px 0px $visited-link;
  }
}

.match {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.teams {
  border: 1px solid $border-color;
  background: #333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
  width: 1020px;
}

.team {
  font-size: 1.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

.team1 {
  display: flex;
  justify-content: flex-end;
}

.team2 {
  display: flex;
  justify-content: flex-start;
}

.series-type {
  font-size: .8rem;
  margin: 3px 0;
}

.series-games {
  align-items: center;
  display: flex;
  margin-bottom: 3px;
  margin-left: 15px;
  
  width: 40px;
}

.series {
  border: 1px solid $black;
  height: 20px;
  margin: 0 2px;
  outline: 1px solid transparent;
  transform: skew(-15deg);
  
  width: 10px;
}

.active {
  background: $active-series;
}

.inactive {
  background: linear-gradient($gradient-black, $inactive-series 50%, $gradient-black);
}

.team-names {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 1.3rem;
  width: 470px;

  margin-bottom: 0;
  margin-top: 5px;

  &.dire {
    margin-left: 7px;
  }

  &.radiant {
    justify-content: flex-end;
  }
}

.team-name {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.heroes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.picks {
  margin-bottom: 5px;
}

.bans {
  margin: 5px 0;
}

img, .blank {
  width: 82.27px;
  height: 46px;
}

.side {
  background: #333;

  margin: 0 10px;
  width: 480px;
}

.ban-cell {
  background: radial-gradient(ellipse at top, $grey-alpha, $black-alpha 110%);
  border: 1px solid $black;
  height: 33px;
  margin-bottom: 2px;
  position: relative;
  width: 59px;

  img {
    height: 33px;
    width: 59px;
  }
}

.active-ban {
  &::before {
    border-top: 1px solid;
    color: $slash-color;
    content: '';
    left: -3px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(-25deg);
    width: 65px;
  }
}

.pick-cell {
  border: 1px solid $black;
  height: 46px;
  width: 82.27px;

  img {
    height: 46px;
    width: auto;
  }
}

.dire-pick {
  background: radial-gradient(ellipse at bottom, $dire-alpha, $black-alpha 110%);
}

.radiant-pick {
  background: radial-gradient(ellipse at bottom, $radiant-alpha, $black-alpha 110%);
}

.middle-vs {
  height: 90px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.players {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.player-names {
  font-size: .7rem;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 84px;
  max-width: 84px;

  text-align: center;
}