<div class="container" (click)=sendToParent()>
  <div class="match">
    <div class="league">
      {{match.league.name}}
    </div>
    <div class="side">
      <div class="team-names dire">
        {{match.dire_team_name}}
        <app-series
          [gameSeries]='match.series.dire_series_wins'
          [teamSide]='"dire"'
        ></app-series>
      </div>
      <div class="picks heroes" *ngIf="match.scoreboard.duration === 0">
        <div class="pick-cell dire-pick" *ngFor='let hero of match.scoreboard.dire.picks'>
          <img *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_hphover.png' alt="{{hero}}">
        </div>
      </div>
      <div class="bans heroes" *ngIf="match.scoreboard.duration === 0">
        <div class="ban-cell dire" *ngFor='let hero of match.scoreboard.dire.bans'>
          <div class="active-ban" *ngIf='hero !== -1'>
            <img src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_hphover.png' alt="{{hero}}">
          </div>
        </div>
      </div>
    </div>
    vs
    <div class="side">
      <div class="team-names radiant">
        <app-series
          [gameSeries]='match.series.radiant_series_wins'
          [teamSide]='"radiant"'
        ></app-series>
        {{match.radiant_team_name}}
      </div>
      <div class="picks heroes" *ngIf="match.scoreboard.duration === 0">
        <div class="pick-cell radiant-pick" *ngFor='let hero of match.scoreboard.radiant.picks'>
          <img *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_hphover.png' alt="{{hero}}">
        </div>
      </div>
      <div class="bans heroes" *ngIf="match.scoreboard.duration === 0">
        <div class="ban-cell radiant" *ngFor='let hero of match.scoreboard.radiant.bans'>
          <div class="active-ban" *ngIf='hero !== -1'>
            <img src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_hphover.png' alt="{{hero}}">
          </div>
        </div>
      </div>
    </div>
  </div>
<div>