<div class="container" (click)=sendToParent()>
  <div class="match">
    <app-league 
      [league]='match.league'
      [duration]='match.scoreboard.duration'
      [spectators]='match.spectators'
      [didGameStart]='didGameStart'>
    </app-league>
    <div class="teams">
      <div class="side">
        <h4 class="team-names dire">
          <span class="team-name">{{match.dire_team_name}}</span>
          <app-series
            [gameSeries]='match.series.dire_series_wins'
            [teamSide]='"dire"'
          ></app-series>
        </h4>
        <div class="players">
          <div class="player-names" *ngFor='let player of match.scoreboard.dire.players'>
            <div class="player-name">
            {{player.name}}
            </div>
          </div>
        </div>
        <div class="picks heroes">
          <div class="pick-cell dire-pick" *ngFor='let hero of match.scoreboard.dire.picks'>
            <img *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_hphover.png' alt="{{hero}}">
          </div>
        </div>
        <div class="bans heroes">
          <div class="ban-cell dire" *ngFor='let hero of match.scoreboard.dire.bans'>
            <div class="active-ban" *ngIf='hero !== -1'>
              <img src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_hphover.png' alt="{{hero}}">
            </div>
          </div>
        </div>
      </div>
      <div class="middle-vs"><span>vs</span></div>
      <div class="side">
        <div class="team-names radiant">
          <app-series
            [gameSeries]='match.series.radiant_series_wins'
            [teamSide]='"radiant"'
          ></app-series>
          <span class="team-name">{{match.radiant_team_name}}</span>
        </div>
        <div class="players">
          <div class="player-names" *ngFor='let player of match.scoreboard.radiant.players'>
            <div class="player-name">
            {{player.name}}
            </div>
          </div>
        </div>
        <div class="picks heroes">
          <div class="pick-cell radiant-pick" *ngFor='let hero of match.scoreboard.radiant.picks'>
            <img *ngIf='hero !== -1' src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_hphover.png' alt="{{hero}}">
          </div>
        </div>
        <div class="bans heroes">
          <div class="ban-cell radiant" *ngFor='let hero of match.scoreboard.radiant.bans'>
            <div class="active-ban" *ngIf='hero !== -1'>
              <img src='http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_hphover.png' alt="{{hero}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>