.buildings {
  background-image: url('app/+live-game/map/buildings/resources/full_buildings_tiny.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.buildings.dire_ancient {
  background-position: 0 0;
}

.buildings.dire_barracks {
  background-position: -32px 0;
  transform: scale(0.5);
}

.buildings.dire_tower {
  background-position: -64px 0;
  transform: scale(0.75);
}

.buildings.radiant_ancient {
  background-position: -96px 0;
  height: 30px;
  width: 30px;
}

.buildings.radiant_barracks {
  background-position: -128px 0;
  transform: scale(0.5);
}

.buildings.radiant_tower {
  background-position: -160px 0;
  transform: scale(0.75);
}
