@import '../../../../assets/_variables.scss';

.container {
  align-items: center;
  display: flex;
  height: 630px;
  justify-content: center;
}

.flex-container {
  position: relative;
}

.pause-menu {
  position: absolute;
  left: 5px;
  top: 10px;

  font-size: 2rem;
  height: 561px;
  width: 588px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.content {
  left: 50%;
  padding: 22px 11px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.icons {
  position: absolute;
}

.image {
  background-color: $black;
  height: 600px;
  width: 600px;
}

