<div class="container">
<div ngClass="flex-container">
  <div class="pause-menu" *ngIf="paused">
    <div [@pause]='paused' class="pausePopUp">
      PAUSED
    </div>
  </div>
  <div [@gameOver] class="game-over-menu" (click)="toggle()" *ngIf="gameOver.status">
    <div class="gameOverPopUp">
      <div *ngIf="!toggleWinner" class="game-over">
        GAME OVER
        <br>
        <span *ngIf="gameOver.game">Click map for spoilers...</span>
      </div>
      <div *ngIf="toggleWinner" ngClass="gameOver.game.radiant_win ? 'radiant': 'dire'">
        {{winner}} Victory
      </div>
    </div>
  </div>

  <div class="content" [style.width.px]='width' [style.height.px]='height'>
    <lg-buildings
      [direBarracks]='dire?.barracks_state | splitToNumbers'
      [direTowers]='dire?.tower_state | splitToNumbers'
      [radiantBarracks]='radiant?.barracks_state | splitToNumbers'
      [radiantTowers]='radiant?.tower_state | splitToNumbers'>
    </lg-buildings>
    <div *ngFor="let player of radiant?.players">
      <lg-sprite-animation *ngIf="player.hero !== 'None'"
        [browserCheck]="browserCheck"
        [team]='"radiant"'
        [heroId]='player?.hero'
        [posX]='player?.position_x | calculateX:width:maxWidth'
        [posY]='player?.position_y | calculateY:height:maxHeight'
        [oldPosX]='player?.old_position_x | calculateX:width:maxWidth'
        [oldPosY]='player?.old_position_y | calculateY:height:maxHeight'
        [respawnTimer]='player?.respawn_timer'
        [ultimateUsed]='player.ultimate_used'>
      </lg-sprite-animation>
    </div>
    <div *ngFor="let player of dire?.players">
      <lg-sprite-animation *ngIf="player.hero !== 'None'"
        [browserCheck]="browserCheck"
        [team]='"dire"'
        [heroId]='player?.hero'
        [posX]='player?.position_x | calculateX:width:maxWidth'
        [posY]='player?.position_y | calculateY:height:maxHeight'
        [oldPosX]='player?.old_position_x | calculateX:width:maxWidth'
        [oldPosY]='player?.old_position_y | calculateY:height:maxHeight'
        [respawnTimer]='player?.respawn_timer'
        [ultimateUsed]='player.ultimate_used'>
      </lg-sprite-animation>
    </div>
    <lg-sprite-animation
      [heroId]='"roshan"'
      [posX]='72.5'
      [posY]='58'
      [respawnTimer]='roshanRespawnTimer'
    ></lg-sprite-animation>
  </div>
  <div class="image" [@dayCycle]='dayNightCycle'>
    <img src="../../../assets/img/map-7q-c.jpg" alt="mini-map">
  </div>
</div>
</div>
