<div *ngFor="let barrack of direBarracks; let i = index;">
  <div *ngIf="barrack" ngClass="icons dire-{{barracks[i]}}">
    <i
      ngClass="buildings dire-barracks"
    ></i>
  </div>
</div>
<div *ngFor="let tower of direTowers; let i = index;">
  <div *ngIf="tower" ngClass="icons dire-{{towers[i]}}">
    <i
      ngClass="buildings dire-tower"
    ></i>
  </div>
</div>

<div *ngFor="let tower of radiantTowers; let i = index;">
  <div *ngIf='tower' ngClass="icons radiant-{{towers[i]}}">
    <i
      ngClass="buildings radiant-tower"
    ></i>
  </div>
</div>
<div *ngFor="let barrack of radiantBarracks; let i = index;">
  <div *ngIf="barrack" ngClass="icons radiant-{{barracks[i]}}">
    <i
      ngClass="buildings radiant-barracks"
    ></i>
  </div>
</div>

<div class="icons dire-ancient-building">
  <i
    ngClass="buildings dire-ancient"
  ></i>
</div>
<div class="icons radiant-ancient-building">
  <i
    ngClass="buildings radiant-ancient"
  ></i>
</div>
