<div class="container">
  <div ngClass="team-title-info {{sideName}}">
    <span class="teamName">{{sideName}}</span>
  </div>
  <div ngClass="player {{side}}" *ngFor="let player of players">
    <div class="image">
      <picture *ngIf="player?.hero !== 'None'">
        <source srcset="http://cdn.dota2.com/apps/dota2/images/heroes/{{player.hero}}_hphover.png" sizes="100%" media="screen and (min-device-width: 500px)">
        <img src="../../../../assets/img/heroes/{{player.hero}}.png" alt="{{player.hero}}">
      </picture>
      <div class="blank" *ngIf="player.hero === 'None'"></div>
    </div>
    <div class="player-info">
      <div class="name">
      {{player.name}}
      </div>
      <div class="kda">
      {{player.kills}} / {{player.deaths}} / {{player.assists}}
      </div>
    </div>
  </div>
</div>
