<div class="content">
  <div class="flex-container">
    <div *ngIf="matches.length === 0">
        <h2>No Games Found!</h2>
        <h4>Only the 100 most recent games are stored</h4>
    </div>
  <div *ngFor="let match of matches">
    <pm-match
      (modalOutput)="overlay($event)"
      (visibleOutput)="closeOverlay($event)" 
      [match]="match"
    ></pm-match>
  </div>
  </div>
  <div class="flex-container" *ngIf="splitMatches.length > 0">
    <div *ngFor="let match of splitMatches">
      <pm-match
        (modalOutput)="overlay($event)"
        (visibleOutput)="closeOverlay($event)"
        [match]="match"
      ></pm-match>
    </div>
  </div>
</div>
<pm-modal *ngIf="toggleMatch"
  [match]="overlayMatch"
  (visibleOutput)="closeOverlay($event)"
  ></pm-modal>
