@import '../../../assets/_variables.scss';

$content-background: #222;
$border-color: #2f2724;

.container {
  background: $first-layer-background;
  border: 1px solid $border-color;
  margin: 10px 0;
  max-width: 600px;
  padding-bottom: 5px;
  width: 100%;
}

.match {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.league {
  font-size: 1.3rem;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 575px;
}

.teams {
  display: flex;
  flex-direction: row;
}

.team {
  font-size: 1.2rem;
  margin-right: 20px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 250px;
}

.team1 {
  margin-right: 20px;
}

.team2 {
  margin-left: 20px;
}

.series-type {
  font-size: .8rem;
  margin: 3px 0;
}

.separator {
  height: 25px;
  margin-top: 2px;
}
