<div *ngIf='apiService.currentGame'>
  <h1 class="heading">{{apiService.currentGame.radiant_team_name}} vs {{apiService.currentGame.dire_team_name}}</h1>
  <app-draft
    *ngIf='apiService.currentGame.scoreboard.duration <= 0'
    [radiant]='apiService.currentGame.scoreboard.radiant'
    [dire]='apiService.currentGame.scoreboard.dire'
    [dayNightCycle]='apiService.currentGame.scoreboard.day_cycle'>
  </app-draft>
  <app-map 
    *ngIf='apiService.currentGame.scoreboard.duration > 0'
    [radiant]='apiService.currentGame.scoreboard.radiant'
    [dire]='apiService.currentGame.scoreboard.dire'
    [dayNightCycle]='apiService.currentGame.scoreboard.day_cycle'>
  </app-map>
</div>