.flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  margin: 7px 0;
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
}

.map {
  height: 450px;
  transform: scale(0.75);
  transform-origin: top;
  width: 450px;
}

.scoreboard {
  margin-top: 5px;
}
