<div *ngIf='scoreboard'>
  <div *ngIf='scoreboard.duration <= 0'>
    <app-draft
      [radiant]='scoreboard.radiant'
      [dire]='scoreboard.dire'
      [radiantTeamName]='radiantTeamName'
      [direTeamName]='direTeamName'
      [league]='league'
    ></app-draft>
  </div>
  <div class="flex-container" *ngIf='scoreboard.duration > 0'>
    
    <div class="content">

      <div class="team">
      <h4 class="team-names">
        {{radiantTeamName}}
        <div class="series-games">
          <div ngClass="series {{wins !== -1 ? 'active' : 'inactive'}}"  *ngFor="let wins of series.dire_series_wins">
          </div>
        </div>
        <h5 class="heading">{{scoreboard.duration | gameTime}}</h5>
      </h4>
      <app-team-info
        [team]='scoreboard.dire.players'
      ></app-team-info>
      </div>

      <app-map class="map"
        [radiant]='scoreboard.radiant'
        [dire]='scoreboard.dire'
        [dayNightCycle]='scoreboard.day_cycle'
        [roshanRespawnTimer]='scoreboard.roshan_respawn_timer'
      ></app-map>
      
      <app-scoreboard class="scoreboard"
        [scoreboard]='scoreboard'>
      </app-scoreboard>

      <div class="team">
        <app-team-info
          [team]='scoreboard.radiant.players'
        ></app-team-info>
        <h4 class="team-names">
          {{direTeamName}}
          <div class="series-games">
            <div ngClass="series {{wins !== -1 ? 'active' : 'inactive'}}"  *ngFor="let wins of series.radiant_series_wins"></div>
          </div>
          <h5 class="heading">{{league.name}}</h5>
        </h4>
      </div>

    </div>
  </div>
</div>