$team-background: #222;
$inactive-series: #935C08;
$active-series: #b8860b;
$gradient-black: #211602;

.flex-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

// .heading {
//   display: flex;
//   flex: 1;
//   flex-wrap: nowrap;
  
//   white-space: nowrap;
// }

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 800px;
  background: #111;
}

.map {
  height: 450px;
  transform: scale(0.75);
  transform-origin: top;
  width: 450px;
  margin-right: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.series-games {
  display: flex;
  align-items: center;
  width: 40px;
  margin-left: 15px;
  margin-bottom: 3px;
}

.series {
  border: 1px solid #000;
  height: 15px;
  width: 7px;
  margin: 0 2px;
  transform: skew(-15deg);
  outline: 1px solid transparent;
}

.active {
  background: $active-series;
}

.inactive {
  background: linear-gradient($gradient-black, $inactive-series 50%, $gradient-black);
}

.team-names {
  background: #111;
  display: flex;
  flex-grow: 2;
  justify-content: flex-start;
  margin-bottom: 0;
  margin-top: 10px;
  text-align: end;
  width: 100%;

  &:first-child {
    margin-bottom: 10px;
  }

  &:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .heading {
    margin: 0;
    align-self: flex-end;
    flex-grow: 1;
  }
}

.scoreboard {
  margin-top: 10px;
}
