<div class="scoreboard" *ngIf='scoreboard'>
  
  <div *ngIf='scoreboard.duration <= 0'>
    <app-draft
      [radiant]='scoreboard.radiant'
      [dire]='scoreboard.dire'
      [radiantTeamName]='radiantTeamName'
      [direTeamName]='direTeamName'
    ></app-draft>
  </div>
  <div *ngIf='scoreboard.duration > 0'>
    <h4 class="heading">{{radiantTeamName}} vs {{direTeamName}}</h4>
    <app-map 
      [radiant]='scoreboard.radiant'
      [dire]='scoreboard.dire'
      [dayNightCycle]='scoreboard.day_cycle'
      [roshanTimer]='scoreboard.roshan_respawn_timer'
    ></app-map>
  </div>
</div>