.flex-container {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 7px 0;
  white-space: nowrap;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
