$arrow-border: #808080;
$button-border: #2f2724;

$nav-black: #333;
$main-nav-background: #eee;
$team-background: #222;
$gradient-black: #211602;
$content-background: #111;


$inactive-series: #935c08;
$active-series: #b8860b;
$ultimate-ready: #050;
$ultimate-inactive: #444;
$ultimate-border: #080;


$img-height: 33px;
$img-width: 59px;
$text-color: #d9d9d9;
$nav-menu-color: #1e2020;
$nav-menu-color-hover: #2e3030;
$menu-gradiant-dire: #5a171d;
$menu-gradiant-radiant: #4a9b4c;
$grey: #808080;
$darkgrey: #a9a9a9;
$box-shadow-color: rgba(0, 0, 0, 0.75);
$box-shadow-color-hover: rgba(34, 98, 126, 0.5);

$height: 25.6px;
$width: 34px;

$background-cell-color: #444;
$black: #000;
$dire-color: #800000;
$radiant-color: #006400;
$slash-color: #8b0000;
$border-color: #2f2724;

$white-alpha: rgba(255, 255, 255, 0.2);
$black-alpha: rgba(0, 0, 0, 0.65);
$dire-alpha: rgba(255, 200, 200, 0.15);
$radiant-alpha: rgba(200, 255, 200, 0.15);
$grey-alpha: rgba(200, 200, 200, 0.15);