<div class="container">
<div class="flex-container">
  <div class="image">
    <img [@dayCycle]='dayNightCycle' src="app/assets/images/day-600-7q-tiny.jpg" alt="mini-map">
  </div>
  <!--<img @nightCycle='dayNightCycle' src="app/assets/images/night-600-7q-tiny.jpg" alt="">-->
  <div class="content" [style.width.px]='width' [style.height.px]='height'>
    <app-buildings
      [direBarracks]='dire?.barracks_state | splitToNumbers'
      [direTowers]='dire?.tower_state | splitToNumbers'
      [radiantBarracks]='radiant?.barracks_state | splitToNumbers'
      [radiantTowers]='radiant?.tower_state | splitToNumbers'>
    </app-buildings>
    <div *ngFor="let player of radiant?.players">
      <app-sprite-animation *ngIf="player.hero !== 'None'"
        [team]='"radiant"'
        [heroId]='player?.hero'
        [posX]='player?.position_x | calculateX:width:maxWidth'
        [posY]='player?.position_y | calculateY:height:maxHeight'
        [oldPosX]='player?.old_position_x | calculateX:width:maxWidth'
        [oldPosY]='player?.old_position_y | calculateY:height:maxHeight'
        [respawnTimer]='player?.respawn_timer'>
      </app-sprite-animation>
    </div>
    <div *ngFor="let player of dire?.players">
      <app-sprite-animation *ngIf="player.hero !== 'None'"
        [team]='"dire"'
        [heroId]='player?.hero'
        [posX]='player?.position_x | calculateX:width:maxWidth'
        [posY]='player?.position_y | calculateY:height:maxHeight'
        [oldPosX]='player?.old_position_x | calculateX:width:maxWidth'
        [oldPosY]='player?.old_position_y | calculateY:height:maxHeight'
        [respawnTimer]='player?.respawn_timer'>
      </app-sprite-animation>
    </div>
    <app-sprite-animation
      [heroId]='"roshan"'
      [posX]='72.5'
      [posY]='58'
      [respawnTimer]='roshanRespawnTimer'
    ></app-sprite-animation>
  </div>
</div>
</div>