/* transform: scale(0.53); */
/* min-width:410px; */

.container {
}

.flex-container {
  display: flex;
  justify-content: center;
  position: relative;
  /*transform: scale(0.75);*/
  /*transform-origin: top right;*/
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*padding: 1em;*/
  padding: 22px 11px;
  z-index: 0;
  /*min-width:410px;*/
}

.icons {
  position: absolute;
}

.image {
  background-color: black;
  width: 600px;
  height: 600px;
}
