.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width:410px;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  z-index: 0;
  min-width:410px;
}

.icons {
  position: absolute;
}

img:nth-child(1) {
  position: relative;
}
img:nth-child(2) {
  position: absolute;
}
