$black: #000;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
}

.flex-container {
  position: relative;
}

.content {
  left: 50%;
  padding: 22px 11px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.icons {
  position: absolute;
}

.image {
  background-color: $black;
  height: 600px;
  width: 600px;
}
