@import '~assets/_variables.scss';

.flex-container {
  height: 100px;
  width: 110px;
}

.item {
  background: $black;
  border: 1px solid $border-color;
  float: left;
  height: $height;
}

.blank {
  background: radial-gradient(ellipse at top left, $white-alpha, $black-alpha 100%);
  height: $height;
  width: $width;
}

img {
  height: $height;
  width: $width;
}
