<div #screen class="flex-container">
  <div class="content">
    <div class="team">
      <h4 class="team-names">
        {{direTeamName}}
        <app-series
          [gameSeries]='series.radiant_series_wins'
        ></app-series>
        - <span class="score dire-score">{{scoreboard.dire.score}}</span>
        <h5 class="heading">{{scoreboard.duration | gameTime}}</h5>
        <span class="stream-delay" *ngIf="streamDeplay">({{streamDeplay}}s delay)</span>
      </h4>
      <app-team-info
        [side]="'dire'"
        [team]='scoreboard.dire.players'
      ></app-team-info>
      </div>

      <app-map class="map"
        [paused]='apiService.gamePaused'
        [radiant]='scoreboard.radiant'
        [dire]='scoreboard.dire'
        [dayNightCycle]='scoreboard.day_cycle'
        [roshanRespawnTimer]='scoreboard.roshan_respawn_timer'
      ></app-map>
      
      <app-scoreboard class="scoreboard-content"
        [scoreboard]='scoreboard'>
      </app-scoreboard>

      <div class="team">
        <app-team-info
          [side]="'radiant'"
          [team]='scoreboard.radiant.players'
        ></app-team-info>
        <h4 class="team-names">
          {{radiantTeamName}}
          <app-series
            [gameSeries]='series.dire_series_wins'
          ></app-series>
          - <span class="score radiant-score">{{scoreboard.radiant.score}}</span>
        </h4>
    </div>
  </div>
</div>