@import '../../../../assets/_variables.scss';

li {
  border: 1px solid $border-color;
  display: flex;
  height: 46px;
  list-style-type: none;
  padding: 2px 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  height: 46px;
  margin-left: 3px;
  width: 82.28px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  height: 500px;
  justify-content: center;
}

.player-name {
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 210px;
  z-index: 10;
}

.side {
  display: flex;
  justify-content: center;
  width: 198px;
}

.draft {
  margin-top: 20px;
  transform: scale(.7);
  transform-origin: top;
}

.dire-draft {
  background: linear-gradient(to bottom, $menu-gradiant-dire, $base-background);
  border-right: 1px solid $border-color;
  border-top: 1px solid $border-color;
}

.radiant-draft {
  background: linear-gradient(to bottom, $radiant-color, $base-background);
  border-left: 1px solid $border-color;
  border-top: 1px solid $border-color;
}

.dire-summary {
  background: linear-gradient(to bottom, $menu-gradiant-dire, $base-background);
  border-top: 1px solid $border-color;
}

.radiant-summary {
  background: linear-gradient(to bottom, $radiant-color, $base-background);
  border-top: 1px solid $border-color;
}

.container {
  color: $font-color;
  font-size: 1rem;
  height: 600px;
  width: 400px;
}

.nav-menu {
  background-color: $nav-menu-color;

  li {
    cursor: pointer;
    align-items: center;
    display: flex;
    padding-left: 8px;

    &:hover {
      background-color: $nav-menu-color-hover;
    }
  }
}

.dire, .radiant {
  position: relative;
}

.dire {
  background: linear-gradient(to right, $menu-gradiant-dire, $black);
}

.radiant {
  background: linear-gradient(to right, $radiant-color, $black);
}

.nav-players {
  li {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }
}

.players {
  margin: 0;
}

.value {
  margin-left: auto;
  overflow: hidden;
  padding-right: 10px;
  margin-bottom: 5px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

.drop-down-menu {
  border: 1px solid $border-color;
  box-shadow: 0 0 7px 1px $box-shadow-color;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  justify-content: flex-start;
  margin-bottom: 5px;
  padding: 4px;

  &:hover {
    background: $box-shadow-color-hover;
  }
}

.down-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $grey;
  height: 0;
  width: 0;
}

.arrow-box {
  align-items: center;
  background: transparent;
  border: 1px solid $darkgrey;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 40px;
}

.stat-title {
  display: flex;
  margin: 0 5px;
  padding-left: 4px;
}

.repsawn-img {
  display: flex;
  position: relative;
}

.blank {
  height: 46px;
  margin-left: 3px;
  width: 82.28px;
}

.summary {
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.compare {
  position: absolute;
  top: 10px;
  left: 75px;
  z-index: 1;
}
