@import '../../../assets/_variables.scss';

.container {
  display: flex;
  align-items: center;


  width: 480px;
  height: 30px;
  border-bottom: 1px solid $third-layer-background;
}

.team {
  text-align: center;
  width: 240px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dire {
  
}

.vs {
  font-size: .8rem;
  line-height: 20px;
}

.active {
  
}

.inactive {
  opacity: .5;
}
