$border-color: #444;

.container {
  display: flex;
  align-items: center;


  width: 480px;
  height: 30px;
  border-bottom: 1px solid $border-color;
}

.team {
  text-align: center;
  width: 240px;
}

.dire {
  
}

.vs {
  font-size: .8rem;
  line-height: 20px;
}

.active {
  
}

.inactive {
  opacity: .5;
}
