<div class="flex-container">
  <div *ngIf="matches.length === 0">
      <h2>No Games Found!</h2>
      <h4>Games only last one week.</h4>
  </div>
<div *ngFor="let match of matches">
  <div class="container">
    <span
      class="dire team"
      [class.active]="match.radiant_win ? false : true"
      [class.inactive]="match.radiant_win ? true : false"
      >{{match.dire_name}}</span>
    <span class="radiant team"
      [class.active]="match.radiant_win ? true : false"
      [class.inactive]="match.radiant_win ? false : true"
    >{{match.radiant_name}}</span>
  </div>
</div>
</div>