<div class="mini-draft">
  <div ngClass="{{side}}-picks picks">
    <div class="pick-cell" *ngFor='let hero of team?.picks'>
      <div *ngIf='hero !== -1'>
        <img *ngIf="hero !== 'None'" src='../../../../../assets/img/heroes/{{hero}}.png' alt="{{hero}}">
      </div>
      <div *ngIf='hero === -1' >&nbsp;</div>
    </div>
  </div>
  <div class="bans">
    <div class="ban-cell" *ngFor='let hero of team?.bans'>
      <div class="active-ban" *ngIf='hero !== -1'>
        <img *ngIf="hero !== 'None'" src='../../../../../assets/img/heroes/{{hero}}.png' alt="{{hero}}">
      </div>
      <div *ngIf='hero === -1' >&nbsp;</div>
    </div>
  </div>
</div>
