<div class="mini-draft">
  <div ngClass="{{side}}-picks picks">
    <div class="pick-cell" *ngFor='let hero of team?.picks'>
      <div *ngIf='hero !== -1'>
        <picture *ngIf="hero !== 'None'">
          <source srcset="http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_hphover.png" sizes="100%" media="screen and (min-device-width: 500px)">
          <img src='../../../../../assets/img/heroes/{{hero}}.png' alt="{{hero}}">
        </picture>
      </div>
      <div *ngIf='hero === -1' >&nbsp;</div>
    </div>
  </div>
  <div class="bans">
    <div class="ban-cell" *ngFor='let hero of team?.bans'>
      <div class="active-ban" *ngIf='hero !== -1'>
        <picture *ngIf="hero !== 'None'">
          <source srcset="http://cdn.dota2.com/apps/dota2/images/heroes/{{hero}}_hphover.png" sizes="100%" media="screen and (min-device-width: 500px)">
          <img src='../../../../../assets/img/heroes/{{hero}}.png' alt="{{hero}}">
        </picture>
      </div>
      <div *ngIf='hero === -1' >&nbsp;</div>
    </div>
  </div>
</div>
