$main-nav-background: #eee;
$arrow-border: #808080;
$button-border: #2f2724;
$black: #000;
$content-background: #111;

.main-nav {
  background: $main-nav-background;
  // margin: 0 auto;
  min-width: 1102px;

  ul {
    color: $black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
    padding: 0;
  }
}

button {
  &:focus {
    outline: none;
  }
}

h1 {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  width: 1100px;
}

.left-arrow {
  border-bottom: 10px solid transparent;
  border-right: 10px solid $arrow-border;
  border-top: 10px solid transparent;
  height: 0;
  width: 0;
}

.right-arrow {
  border-bottom: 10px solid transparent;
  border-left: 10px solid $arrow-border;
  border-top: 10px solid transparent;
  height: 0;
  width: 0;
}

.arrow-btn {
  align-items: center;
  background: transparent;
  border: 1px solid $button-border;
  display: flex;  
  height: 40px;
  justify-content: center;
  width: 282px;
}

.btn-content {
  display: flex;
}

.spectators {
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  width: 536px;
}

.inactive {
  opacity: .5;
}

@media not all and (min-width: 800px) {

  .main-nav {
    min-width: 562px;
  }

  .flex-container {
    margin: 4px 0;
  }

  .content {
    width: 560px;
  }
}
