@import '~assets/_variables.scss';

.mini-draft {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  width: 280px;
}

.bans,
.picks {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  height: 250px;
  justify-content: center;
  width: 260px;
}

.ban-cell {
  height: $mini-draft-height;
  position: relative;
  width: $mini-draft-width;

  &:nth-child(odd) {
    margin-right: 5px;
  }

  &:nth-child(-n+4) {
    background: radial-gradient(ellipse at top, $grey-alpha, $black-alpha 110%);
  }

  &:nth-child(5) {
    text-align: center;
    width: 260px;

    .active-ban {
      &::before {
        border-top: 1px solid;
        color: $slash-color;
        content: '';
        left: 25%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: rotate(-25deg);
        width: 130px;
      }
    }

    div {
      background: radial-gradient(ellipse at top, $grey-alpha, $black-alpha 110%);
      height: $mini-draft-height;
      margin: 0 auto;
      width: $mini-draft-width;
    }
  }
}

.active-ban {
  opacity: .6;

  &::before {
    border-top: 1px solid;
    color: $slash-color;
    content: '';
    left: -6px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(-25deg);
    width: 130px;
  }
}

.dire-picks {
  .pick-cell {
    height: $mini-draft-height;
    position: relative;
    width: $mini-draft-width;

    &:nth-child(odd) {
      margin-right: 5px;
    }

    &:nth-child(-n+4) {
      background: radial-gradient(ellipse at top, $dire-alpha, $black-alpha 110%);
    }

    &:nth-child(5) {
      text-align: center;
      width: 260px;

      div {
        background: radial-gradient(ellipse at top, $dire-alpha, $black-alpha 110%);
        height: $mini-draft-height;
        margin: 0 auto;
        width: $mini-draft-width;
      }
    }
  }
}

.radiant-picks {
  .pick-cell {
    height: $mini-draft-height;
    position: relative;
    width: $mini-draft-width;

    &:nth-child(odd) {
      margin-right: 5px;
    }

    &:nth-child(-n+4) {
      background: radial-gradient(ellipse at top, $radiant-alpha, $black-alpha 110%);
    }

    &:nth-child(5) {
      text-align: center;
      width: 260px;

      div {
        background: radial-gradient(ellipse at top, $radiant-alpha, $black-alpha 110%);
        height: $mini-draft-height;
        margin: 0 auto;
        width: $mini-draft-width;
      }
    }
  }
}

.line-break {
  width: 100%;
}

.side-name {
  text-align: center;
  width: 130px;
}

.dire {
  color: $dire-color;
  font-size: 0.6rem;
}

.radiant {
  color: $radiant-color;
  font-size: 0.6rem;
}

.players {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0;
  width: 130px;
}

.player-cell {
  font-size: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

img {
  height: $mini-draft-height;
  width: $mini-draft-width;
}
